<html>
<head>
    <title>AngularJS First App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body class="bg-light" ng-app="firstApp" class="ng-cloak">
<div class="container-fluid" ng-controller="PersonController as ctrl">
    <div class="py-5">
        <div class="card">
            <h5 class="card-header">Form</h5>
            <div class="card-body">
                <form ng-submit="ctrl.submit()" name="personForm">
                    <input type="hidden" ng-model="ctrl.person.id"/>

                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" ng-model="ctrl.person.firstName" class="form-control" id="firstName" placeholder="First Name" required />
                    </div>

                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" ng-model="ctrl.person.lastName" class="form-control" id="lastName" placeholder="Last Name" required />
                    </div>

                    <button type="submit" class="btn btn-primary" ng-disabled="personForm.$invalid">{{!ctrl.person.id ? 'Add' : 'Update'}}</button>
                    <button type="button" ng-click="ctrl.reset()" class="btn btn-warning" ng-disabled="personForm.$pristine">Reset</button>
                </form>
            </div>
        </div>
    </div>

    <div class="py-5">
        <div class="card">
            <h5 class="card-header">List</h5>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">ID.</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="u in ctrl.persons">
                        <td scope="row"><span ng-bind="u.id"></span></td>
                        <td><span ng-bind="u.firstName"></span></td>
                        <td><span ng-bind="u.lastName"></span></td>
                        <td style="width: 11em">
                            <button type="button" ng-click="ctrl.edit(u.id)" class="btn btn-success">Edit</button>
                            <button type="button" ng-click="ctrl.remove(u.id)" class="btn btn-danger">Remove</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-resource.js"></script>
<script src="app/app.js"></script>
<script src="app/person-service.js"></script>
<script src="app/person-controller.js"></script>
</body>
</html>
