.form-control.ng-valid {
    background-color: #e1f9d1;
}

.form-control.ng-dirty.ng-invalid-required {
    background-color: #ffdddd;
}

.form-control.ng-dirty.ng-invalid-minlength {
    background-color: #ffffce;
}
